<section>
<h1>Halley's Comet</h1>
<script type="text/javascript" language="javascript">
//<![CDATA[
function thenceThen(timespan){
 var date1=new Date(timespan);
 var totalSecs=(date1-new Date())/1000;
 var days=Math.floor(totalSecs/3600/24);
 var hours=Math.floor((totalSecs-days*24*3600)/3600);
 var mins=Math.floor((totalSecs-days*24*3600-hours*3600)/60);
 var secs=Math.floor((totalSecs-days*24*3600-hours*3600-mins*60));
 document.getElementById("thenceThen").innerText=days+" days "+hours+" hours "+mins+" minutes "+secs+" seconds left.";
}
var clock;
window.onload=function(){
 clock=self.setInterval("thenceThen('2061/07/28')", 500);
}
//]]>
</script>
<div id="thenceThen"></div>
</section>