<!--google search-->
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
var customSearchControl = null;
function sendQuery() {
  var textNode = document.getElementById('field');
  if ((textNode.value == '')) {
    customSearchControl.clearAllResults();
  } else {
    customSearchControl.execute(textNode.value);
  }
}
google.load('search', '1', {language : 'en'});
google.setOnLoadCallback(function() {
  customSearchControl = new google.search.CustomSearchControl('003240028397592718084:pjkd4hfsp_0');
  customSearchControl.setResultSetSize(google.search.Search.LARGE_RESULTSET);
  var options = new google.search.DrawOptions();
  options.enableSearchResultsOnly();
  customSearchControl.draw('cse_g', options);
}, true);
</script>


<!--baidu search-->
<script type="text/javascript">(function(){document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E'));var bdcs = document.createElement('script');bdcs.type = 'text/javascript';bdcs.async = true;bdcs.src = 'http://znsv.baidu.com/customer_search/api/js?sid=16896278337202878293' + '&plate_url=' + encodeURIComponent(window.location.href) + '&t=' + Math.ceil(new Date()/3600000);var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(bdcs, s);})();</script>